@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');


*
{
    font-family: 'Tajawal', sans-serif;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#200016,#10001f);
}

li{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    width: auto;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    margin:30px;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}


nav .Logo
{
    font-size: 30px;
    text-transform: uppercase;
}

nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li
{
    width: auto;
}

nav ul li a
{
    padding: 6px 15px;
    border-radius: 20px;
    width: auto;
}

nav ul li a:hover
{
    background: #fff;
    color: #2b1055;
}

.main
{
    position: relative;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.main img
{
    position: absolute;
    width:100%;
    height:100vh;
    object-fit: cover;
}

#moon
{
    mix-blend-mode: screen;
    transform: translateY(80px);
}

.IslamSite 
{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    transform: translateY(-140px);
}

.content
{
    color:#fff;
    padding: 30px;
}

.content h2
{
    font-size: 30px;
    direction: rtl;
    margin:20px;
}

.content p
{
    direction: rtl;
    margin:20px;
}

.river {
    top:0px;
}

h4 {
    color:white;
    padding-left: 60px;
}

p{
    color:white;
    direction: rtl;
    margin-left: 20px;
    margin-right: 20px;
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
  }
  .main-nav.show .line2 {
    opacity: 0;
  }
  .main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
  }
  .main-nav.show .nav-links {
    transform: translateX(0%);
  }
  @media screen and (max-width: 800px) {
    .nav-links {
      width: 60%;
    }
  }
  @media screen and (max-width: 600px) {
    .burger {
      display: block;
    }
    .nav-links {
      position: fixed;
      top: 8vh;
      right: 0;
      height: 92vh;
      width: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: #005582;
      transform: translateX(100%);
      transition: transform 1s ease;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }

  
.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;
    transition: transform 0.75s ease, opacity 0.75s ease;
  }
  
  @media screen and (max-width: 800px) {
    .nav-links {
      width: 60%;
    }
}